.audioPlayer {
    display: flex;
    align-items: center;
    gap: 12px;
  }

.playPauseBtn {
  background-color: #815B83;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}

.playPauseBtn:hover {
  background-color: #6a466d; /* Darker shade on hover */
}

.bars {
  display: flex;
  gap: 4px;
}

.bar {
  width: 4px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 2px;
  transition: height 0.2s;
  animation: bounce 1s infinite ease-in-out;
  animation-play-state: paused;
}

.audioPlayer:hover .audioPlayer{
  background-color: #FFD700; /* Change bar color to gold on hover */
}

/* Animate bars */
.barsPlaying .bar {
  animation-play-state: running;
}
@keyframes bounce {
  0%, 100% {
    height: 40px;
  }
  50% {
    height: 20px;
  }
}